:root {
    --blue_light: #24C2C2;
    --blue_dark: #2D3848;
    --blue_semi_dark: #3A4556;
    --white: #fff;
    --danger: #C2245D;
    --danger_light: #f7055c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    margin:0;
    padding: 0;
    background: center / cover no-repeat url(images/frontend/background.png) var(--blue_dark);
    height: 100%;
}

main {
    padding-top: 5rem;
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 300;
}


h1 {
    color: var(--white);
    font-weight: bold;
    text-align: center;
    font-size: 2.4em;
    display: block;
    margin: 50px auto;
    width: 100%;  
}

h2 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 1.7em;
    position: relative;
    width: 100%;
    padding-bottom: 12px;
}

button {
    color: #fff;
    background: none;
    font-weight: 500;
    text-align: center;
    font-size: 1.7em;
    position: relative;
    width: 100%;
    padding: 5px;
    border: none;
    cursor: pointer;
}
a.link-underline {
    text-align: center;
    display: block;
    text-decoration: underline;
    color: var(--white);
    margin: 0 auto;
    width: 100%;
    margin: 10px 0;
    font-size: 1.6em;
    font-weight: 500;
}

.el-center {
    width: fit-content;
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
}

p, span, ul, li {
    font-size: 1em;
    color: var(--white);
}

.btn {
    color: var(--white);
    font-weight: 500;
    font-size: 1.6em;
    padding: 10px 30px;
    background: var(--blue_light);
    transition: 0.2s ease-out;
    border-radius: 30px;
    width: fit-content;
    display: block;
    cursor: pointer;
    white-space: nowrap;
}

button.btn {
    border: none;
}

ul {
    list-style: none;
}

.btn.btn-delete {
    background: var(--danger)!important;
}

.h2-table {
    background: var(--blue_light);
    color: var(--white);
    font-weight: 600;
    text-align: center;
    max-width: 400px;
    padding: 10px;
}

.style-table {
    width: 100%;
    border-collapse: collapse;
}

.style-table tr {
    width: 100%;
}

.style-table td {
    width: 100%;
    color: var(--white);
    font-size: 1.5em;
    padding: 0 20px 0 0!important;
}

.style-rect {
    background: var(--blue_light);
    font-weight: 500;
    position: relative;
    padding: 5px 10px;
}

.style-rect::after {
    position: absolute;
    height: 0;
    width: 0;
    border-top: 39px solid var(--blue_light);
    border-right: 30px solid transparent;
    content: "";
    right: -30px;
    top: 0;
   }

.style-table td .table-content {
    font-weight: 400;
    width: 100%;
    text-align: right;
}

.style-table thead tr {
    background: var(--blue_light);
    color : var(--white);
    font-size: 1.5em;
}

.error {
    color : var(--danger_light);
    font-size: 1.1em;
    font-weight: 500;
    width: 100%;
    display: block;
    margin: 5px 20px;
    text-align: center;
}

.success {
    display: block;
    position: fixed;
    bottom: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--blue_light);
    color: var(--white);
    font-weight: 600;
    text-align: center;
    width: 90%;
    left:5%;
    z-index: 15;
    animation: success-fade 3s forwards;
    text-transform: uppercase;
    font-size: 1.1em;
    opacity: 0;
}

@keyframes success-fade {
    0% {
        display: block;
    }
    1%, 99% {
        opacity: 0;
    }    
    2%,95% {
        opacity: 1;
    }
    100% {
        display: none;
    }
}



/* STYLE DU MENU */
nav {
    width: 100%;
    padding: 15px 30px;
    background: var(--blue_light);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    z-index: 11;
    height: 5rem;
}

nav a.title {
    font-weight: bold;
    display: inline-block;
    margin: 0 5px;
    font-size: 3em;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
}

nav #nav-play {
    padding: 10px 20px;
    font-weight: 700;
    border: 2px solid var(--white);
    border-radius: 40px;
    display: block;
}

#menu-responsive {
    cursor: pointer;
    display: none;
}

.point {
    display: inline-block;
    margin: 3px;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border-radius: 50%;
    -webkit-box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 8px 1px rgba(0,0,0,0.5);
}

#menu-responsive:hover .point:first-child {
    animation: animation-menu 1s infinite;
}

#menu-responsive:hover .point:nth-child(2) {
    animation: animation-menu 1s infinite 0.05s;
}

#menu-responsive:hover .point:last-child {
    animation: animation-menu 1s infinite 0.1s;
}

@keyframes animation-menu {
    0%,100% {
        background-color:  var(--white);
    }
    50% {
        background-color: var(--danger_light);
    }
}

aside {
    position: fixed;
    right: 0;
    background: var(--blue_light);
    top: 79px;
    height:calc(100vh - 79px);
    z-index: 100;
    transform: translateX(100%);
    transition: 0.3s ease-out;
    display: none;
}

aside.open {
    transform: translateX(0%);
}

aside nav {
    display: block;
    margin: 0;
    padding: 0;
}

aside nav ul {
    margin: 0;
    padding: 20px;
    position: relative;
}

aside nav ul::before {
    content:"";
    background: var(--white);
    height: 2px;
    width: 90%;
    top: 0;
    left: 5%;
    position: absolute;
}

aside nav ul li {
    display: block;
    position: relative;
}

aside nav ul li a {
    padding: 5px;
    display: block;
}

.nav-fixed {
    position: fixed;
    top: 0;
}

@media screen and (max-width: 1600px){
    .nav-play-li {
        display: none;
    }
    aside nav .nav-play-li {
        display: block;
    }
    #menu-responsive {
        display: initial;
    }
    aside {
        display: block;
    }
}

@media screen and (max-width: 653px){
    nav #logout {
        display: none;
    }
    aside nav #logout {
        display: initial;
    }
}

h1.title {
    font-size: 1.5em;
}

.absolute-top__left {
    position: absolute;
    top: 100px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.absolute-top__right {
    position: absolute;
    top: 5rem;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}


/* OVERLAY */
section.overlay {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.68);
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
}

section.overlay article.errorArticle {
    border: 5px solid var(--danger);
}

section.overlay article {
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--blue_dark);
    transform: translate(-50%,-50%);
    border: 5px solid var(--blue_light);
    padding: 15px;
    min-width: 500px;
}

section.overlay article .article__title {
    position: relative;
    width: 100%;
}

section.overlay article .article__title h2 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    font-size: 2.5em;
    position: relative;
    width: 100%;
    padding-bottom: 12px;
}

section.overlay article .article__title .icon-close {
    padding: 7px;
    background: var(--blue_light);
    position: absolute;
    right: -20px;
    top: -20px;
    color: var(--white);
    font-size: 2em;
    cursor: pointer;
}

section.overlay article .article__title h2::after {
    position: absolute;
    content: "";
    width: 70%;
    left: 15%;
    bottom: 0;
    height: 1px;
    background-color: var(--white);
}

/* FORM */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

form input,
form select {
    flex: 1 0 100%;
    border: 3px solid var(--white);
    background: transparent;
    color: var(--white);
    font-size: 1.5em;
    font-weight: 300;
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: var(--blue_dark);;
}

form label {
    width: 100%;
    text-align: left;
    color: var(--white);
    font-size: 1.5em;
    padding-left: 20px;
    font-style: italic;
    margin-top: 10px;
}

form .input-password input {
    border: 3px solid var(--white);
    background: transparent;
    color: var(--white);
    font-size: 1.5em;
    font-weight: 300;
    border-radius: 30px;
    width: 100%;
    padding: 10px 20px;
    z-index: 4;
    margin-bottom: 0;
}

.input-password {
    flex: 1 0 100%;
    position: relative;
    margin-bottom: 20px;
}

.toggle-password {
    position: absolute;
    right: 30px;
    font-size: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
    z-index: 5;
    cursor: pointer;
    transition: 0.2s ease-out;
}

.toggle-password:hover {
    opacity: 0.8;
}

form select,
form select option {
    cursor: pointer;
}

form input::placeholder {
    font-style: italic;
    color: var(--white);
}

form input:focus,
form select:focus {
    outline: none;
}

form select option {
    background: var(--blue_light);
    padding: 5px;
    position: relative;
}

/* AUTRES */
.footer-btn {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    flex-wrap: nowrap;
}

.footer-btn a {
    margin: 10px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.title img {
    margin: 15px;
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.title h1 {
    margin: 0;
    width: fit-content;
}

#cash {
    width:-webkit-fit-content;
    width:-moz-fit-content;
    width: fit-content;
    background:var(--blue_light);
    color:var(--white);
    z-index: 100;
    padding: 12px;
    font-weight: 600;
    font-size: 1.32em;
    position: fixed;
    top: 5rem;
    right: 0;
}

#simulation-article {
    padding: 40px;
}

#simulation-article .article__title h2::after {
    display: none;
}

.simulation {
    width: 80%;
    border: 2px solid var(--blue_light);
    display: block;
    margin: 0 auto;
    height: 20px;
}

.simulation .loadingBar {
    width: 100%;
    background: var(--blue_light);
    height: 100%;
    animation: loadingBar 4s forwards ease-in-out;
}

@keyframes loadingBar {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}