<!doctype>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>EFREI Futsal Manager</title>
        <!-- Load Vue followed by Vue Router -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/http-vue-loader/src/httpVueLoader.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-router/dist/vue-router.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">  
        <link rel="stylesheet" href="app.css">
        <style>
          #alert-action {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            width: 100%;
          }

          #alert-action a {
            margin: 10px;
          } 

          #displayAlert p {
            font-size: 1.5em;
            margin: 20px;
            text-align: center;
            font-weight: 500;
          }
        </style>
    </head>
    <body>
        <div id="app">
          <nav v-if="!user.id">
            <router-link to='/' class="title">EFREI Futsal Manager</router-link>
            <ul>
              <li><router-link :to="{ path: 'login'}" append>Se connecter</router-link>
              <li><router-link :to="{ path: 'registration'}" append>S'inscrire</router-link ></li>
            </ul>
          </nav>
          <nav id="nav-connected" v-else>
            <ul>
              <li><router-link to='/play/simulation' id="nav-play">Passer à la semaine suivante</router-link></li>
              <li class="nav-play-li"><router-link to='/play/team'>Equipe</router-link></li>
              <li class="nav-play-li"><router-link to='/play/training'>Entraînement</router-link></li>
              <li class="nav-play-li"><router-link to='/play/ranking'>Classement</router-link></li>
              <li class="nav-play-li"><router-link to='/play/recrutement'>Recrutement</router-link></li>
              <li class="nav-play-li"><router-link to='/account'>Mon compte</router-link></li>
              <li v-on:click="toggleMenu" id="menu-responsive"><div class="point"></div><div class="point"></div><div class="point"></div></li>
            </ul>
            <ul>
              <li><a id="logout" v-on:click="logout">Déconnexion</a></li>
            </ul>
          </nav>
          <aside :class="{ 'open' : stateMenu }">
            <nav v-if="!user.id">
              <ul>
                <li><router-link :to="{ path: 'login'}" append>Se connecter</router-link>
                <li><router-link :to="{ path: 'registration'}" append>S'inscrire</router-link ></li>
              </ul>
            </nav>
            <nav id="nav-connected" v-else>
              <ul>
                <li class="nav-play-li"><router-link to='/play/team'>Equipe</router-link></li>
                <li class="nav-play-li"><router-link to='/play/training'>Entraînement</router-link></li>
                <li class="nav-play-li"><router-link to='/play/ranking'>Classement</router-link></li>
                <li class="nav-play-li"><router-link to='/play/recrutement'>Recrutement</router-link></li>
                <li class="nav-play-li"><router-link to='/account'>Mon compte</router-link></li>
              </ul>
              <ul>
                <li><a id="logout" v-on:click="logout">Déconnexion</a></li>
              </ul>
            </nav>
          </aside>
          <main>   
            <router-view
               :user="user"
               :players= "myPlayers"
               :ranking = "ranking"
               :team = "myTeam"
               @display-alert="displayAlert"
               @registration="registration"
               @login = "login"
               @edit-account = "editAccount"
               @edit-password = "editPassword"
               @delete-account = "deleteAccount"
               @create-team = "createTeam"
            >
            </router-view>
          </main>
          <section v-show="alert.displayDOMAlert" id="displayAlert" class="overlay">
            <article>
                <p>{{alert.alertMessage}}</p>
                <div id="alert-action">
                  <a v-on:click="confirmAlert" class="btn">Oui</a>
                  <a v-on:click="cancelAlert" class="btn btn-delete">Non</a>
                </div>
            </article>
          </section>
          <section v-show="error.state" class="overlay">
            <article class="errorArticle">
                <p style="text-align: center;font-size: 1.3em;">{{error.message}}</p>
                <div style="margin-top: 10px;width: 100%;text-align:center;">
                  <a v-on:click="cancelAlert" style="display:block;margin: 0 auto;" class="btn btn-delete">Fermer</a>
                </div>
            </article>
          </section>
          <div v-bind:class="{'success': success.state}">{{success.message}}</div>
        </div>
        <script src="/vue-application.js"></script>
        <script src="https://kit.fontawesome.com/bd6408e1f8.js" crossorigin="anonymous"></script>
    </body>
</html>
